*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Popping', sans-serif;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color) ;
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

.header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 30px 8%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items:center ;
    z-index: 100;
}

.header .logo img{  
    width: 150px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a{
    font-size: 18px;
    display: inline-block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight:500;
    margin:0 20px;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar a.active{
    color: rgb(113, 9, 132);
    text-shadow: 0 0 10px rgb(113, 9, 132);
                
                
    transition: 0.3s;
}

.soical-media{
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 40px;
}

/*מעוין על הכפתורים*/
.soical-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid transparent;
    text-decoration: none;
    transform: rotate(45deg);
    transition: .5s;
    opacity: 0;
    animation: slideSci .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
   
}

/*הובר ללחצנים*/
.soical-media a:hover{
    border-color: rgb(113, 9, 132);
    box-shadow: 0 0 17px rgb(113, 9, 132);
}

.soical-media a i{
    font-size: 24px;
    color:rgb(113, 9, 132) ;
    transform: rotate(-45deg);
}

/*home design section*/
.Home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 8% 0;
    overflow: hidden;
    position: relative;
}

.Home-content{
    max-width: 630px;
}

.Home-content h1{
    font-size: 50px;
    line-height: 1.2;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 0s;
    color: rgb(23, 23, 23);
}

.Home-content h3{
    font-size: 40px;
    color: rgb(113, 9, 132);
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 0.5s;
}

.Home-content p{
    font-size: 16px;
    margin: 15px 0 30px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

/*לחצן */
.Home-content a{
    position: relative;
    background: rgb(23, 23, 23);
    color: rgb(23 ,23 ,23);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 0s;
}

.Home-content a:hover{
  background: rgb(113, 9, 132);
  color: rgb(113, 9, 132);
  letter-spacing: 0.25em;
  box-shadow: 0 0 35px rgb(113, 9, 132);
}

.Home-content a:before{
   content: '';
   position: absolute;
   inset: 2px;
   background: white;
   opacity: 0;
   animation: slideRight 1s ease forwards;
   animation-delay: 0s;
}

.Home-content a span{
    position: relative;
    z-index: 1;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 0s;
}

.Home-content a i{
    position: absolute;
    inset: 0;
    display: block;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 0s;
}

.Home-content a i::before{
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height: 4px;
    background: white;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 0s;
}

.Home-content a:hover i::before{
    width: 20px;
    left: 20%;
}

.Home-content a i::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 10px;
    height: 4px;
    background: white;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 0s;
}

.Home-content a:hover i::after{
    width: 20px;
    left: 80%;
}

/*מעויין*/
.Home-img{
    position: relative;
    right: -7%;
    transform: rotate(45deg);
    width: 400px;
    height: 400px;
}

/*מעויין הגדרות*/
.Home-img .rhombus{
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    border: 25px solid rgb(113, 9, 132);
    box-shadow: -15px 15px 15px rgba(0,0,0, .2);
    opacity: 0;
    animation: zoomOut 1s ease forwards;
    animation-delay: 1s;
}

/*מכונית*/
.Home-img .rhombus img {
    position: absolute;
    max-width: 750px;
    top: 110px;
    left: -250px;
    transform: rotate(-45deg);
    opacity: 0;
    animation: carEntry 1s ease forwards;
    animation-delay:1.8s;
}

.Home .rhombus2{
    position: absolute;
    top: -25%;
    right: -25%;
    z-index: -1;
    width: 700px;
    height: 700px;
    background: rgb(23, 23, 23);
    transform: rotate(45deg);
    opacity: 0;
    animation: rhombus2 1s ease forwards;
    animation-delay:0s;
}

.home span{
    color: rgb(113, 9, 132);
}

/*About section design*/
.About{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: rgb(23, 23, 23);
}

.About span{
    color: rgb(113, 9, 132);
}

.About-img img {
    width: 30vw;
    animation: floatImage 4s ease-in-out infinite;
}

.heading{
    text-align: center;
    font-size: 5rem;
    color: whitesmoke;
}

.About-content h2{
    text-align: left;
    line-height: 1.2; 
}

.About-content h3{
    font-size: 3rem;
}

.About-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    color: whitesmoke;
}

/*לחצן */
.About-content a{
    position: relative;
    background: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
}

.About-content a:hover{
  background: rgb(113, 9, 132);
  color: rgb(113, 9, 132);
  letter-spacing: 0.25em;
  box-shadow: 0 0 35px rgb(113, 9, 132);
}

.About-content a:before{
   content: '';
   position: absolute;
   inset: 2px;
   background: rgb(23 ,23 ,23);
   
}

.About-content a span{
    position: relative;
    z-index: 1;
}

.About-content a i{
    position: absolute;
    inset: 0;
    display: block;
}

.About-content a i::before{
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 20px;
    height: 4px;
    background: rgb(23 ,23 ,23);
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

.About-content a:hover i::before{
    width: 20px;
    left: 20%;
}

.About-content a i::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 20px;
    height: 4px;
    background: rgb(23 ,23 ,23);
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

.About-content a:hover i::after{
    width: 20px;
    left: 80%;
    
}

/*gallery section design*/
.gallery .heading{
    text-align: center;
    font-size: 5rem;
    color: rgb(23, 23, 23); 
}

.gallery p{
    text-align: center;
    font-size: 2.5rem;
    color: rgb(23,23,23);
}

.gallery span{
    color: rgb(113, 9, 132);
}

.container{
    position: relative;
    min-height: 100vh;
    min-width: 1000px;
    width: 100%;
    padding: 40px 20px;
    margin: 0 auto;
}

.container .search-box{
    position: relative;
    height: 42px;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.search-box input{
    position: absolute;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: rgb(23, 23, 23);
    padding:0 15px 0 45px ;
    color: aliceblue;
    border-radius: 6px;
}

.search-box i{
    position: absolute;
    z-index: 2;
    color: antiquewhite;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 20px;
}

.container .images .image-box{
    position: relative;
    height: 300px;
    width: 210px;
    border-radius: 6px;
    overflow: hidden;
}

.images{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.images .image-box{
    margin: 8px;

}

.images .image-box img{
    height: 100%;
    width: 100%;
    border-radius: 6px;
    transition: transform 0.2s linear;
}
.image-box:hover img{
    transform: scale(1.05);

}
.image-box h6{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: aliceblue;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
}


/*contact section design*/
.btn{
    display: inline-block;
    padding: 10px 28px;
    background: rgb(113, 9, 132);
    border: 2px solid rgb(113, 9, 132);
    border-radius: 6px;
    box-shadow: 0 0 10px rgb(23, 23, 23);
    font-size: 16px;
    color: whitesmoke;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: .5s;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.5s;

}

.btn:hover{
    background: transparent;
    color: rgb(113, 9, 132);
}
.contact h2{
    margin-bottom: 3rem;
    color: rgb(23, 23, 23);
}

.contact span{
    color: rgb(113, 9, 132);
}

.contact .heading{
    text-align: center;
    font-size: 5rem;
    color: rgb(23, 23, 23);
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: whitesmoke;
    background: rgb(23, 23, 23);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input{
    width: 49%;
}

.contact form textarea{
    resize: none;
}

.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 0s;
}

/*footer*/
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background:rgb(23, 23, 23) ;
}

.footer-text p{
    font-size: 1.6rem;
    color: white ;
}

.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: whitesmoke;
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 3rem rgb(113, 9, 132);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: rgb(113, 9, 132);
}

/*anima*/

@keyframes floatImage{
    0% {
        transform: translateY(0);
    }
    50%{
        transform: translateX(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }   
}

@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideSci {
    0%{
        transform: translateX(100px) rotate(45deg);
        opacity: 0;
    }

    100%{
        transform: translateX(0) rotate(45deg);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomOut {
    0%{
        transform: scale(1.1);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes carEntry {
    0% {
        transform: translate(300px, -300px) scale(0) rotate(-45deg);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0) scale(1) rotate(-45deg);
        opacity: 1;
    }
}

@keyframes rhombus2 {
    0% {
        right: -40%;
        opacity: 0;
    }

    100% {
       right: -25%;
        opacity: 1;
    }
}
